<div class="container">

    <% if @blog.errors.any? %>
    <% @blog.errors.full_messages.each do |error| %>
    <strong><%= error %></strong>
    <% end %>
    <% end %>
    <%= form_for @blog, url: blog_path(id: @blog.id) do |f| %>
    <div class="newform">
        <p>Title<p><%= f.text_area :title, cols: "30", rows: "1"%></p>
        </p>
        <p>Subtitle<p><%= f.text_area :subtitle, cols: "150", rows:"30" %></p>
        </p>
        <p>Author<p><%= f.text_area :author, cols: "15", rows:"1"%></p>
        </p>
        <p><%= f.submit class:"submit" %></p>
        <% end %>
      </div>
</body>
</div>
