<div class="container">
<body>
    <nav>
        <p><%=link_to "Home", root_path, class:"Home" %></p>
        <p><%=link_to "New Post", new_blog_path, class:"NewPost" %></p>

    </nav>
    <div class="post">
        <p><%= @blog.title %>
            <p>
                <div class="sub">
                    <p><%= @blog.subtitle %></p>
                    <p>by <%= @blog.author %></p>
                </div>
            </p>

            <div class="edit"><%= link_to "Edit", edit_blog_path(id: @blog.id), class: "Editbttn"%></div>
            <div class="delete"><%= link_to "Delete", blog_path(id: @blog.id), method: :delete, class: "deletebttn", data: {confirm: "Are you sure you want to delete?"}%></div>
        </div>
    </body>
  </div>
